# Ignore non-src folders
bin*
build*
doc*
lib*

# Ignore specific links for SOLPS-ITER coupling
Database/AMJUEL
Database/AMMONX
Database/H2VIBR
Database/HYDHEL
Database/METHAN*
src/interfaces/couple_SOLPS-ITER/b2mod_dimensions.F
src/interfaces/couple_SOLPS_WG/b2mod_dimensions.F

# files ignored in git repository
git_version.h
git_version_*.h

# backup files
*.bak
*.orig

# Ignore temporary files
*~

# local files and directories
local/
*.local
*.local/

# object, archive,... files
*.[oa]
*.mod

# error messages from compiler etc.
*.error

# files produced by the Makefile
Makefile
LISTOBJ
TAGS
linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/
src/assistant/version.f
!config/Makefile

# files produced by scripts
grep.lis
__pycache__/
_build/

# Ignore eclipse files
.cproject
.project
.metadata
.settings

# Ignore PDF in Manual
Manual/*.pdf
Manual/*.dvi
Manual/*.cfg
Manual/*.out.ps

# Ignore EIRENE test cases
EIRENE-sample-cases
